*.obj
*.o
*.tlog
*.pdb
*.idb
*.ilk
Debug
obj
*.dat
*.index
*.rpt
*.exe
*.d
*.bak
*.log
log
*.sublime-project
*.sublime-workspace
tags
cscope.out
*.Debug
*.Release
*.user
*.dll
*.exe.config
*.exe.manifest
/bin/translations
*.SchDocPreview
static
